.vscroll {
  overflow-y: scroll;
  height: 12em;
  display: block;
}

.sliders span.value {
  color: dodgerblue;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.error {
  background-color: #fef2f8;
  color: #7f0000;
}

@keyframes attention {
  from {
    /* background-color:hsl(195, 85%, 41%); */
    background-color: var(--primary);
  }
  to {
    background-color: #b20000;
  }
}

.attention {
  background-color: var(--primary);
  animation: attention 0.8s infinite;
}